{{#if success_msg}}
<div id="success-alert" class="alert-overlay alert-center fade-out">
    <div class="col-md-2">
        <div class="alert alert-success text-center">{{success_msg}}</div>
    </div>
</div>
{{/if}}

{{#ifCond user.Id_Rol '==' 1}}
<div class="container my-4">
    <h2 class="text-center mb-4">Lista de Transacciones</h2>
    {{#if transacciones.length}}
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tipo</th>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Usuario</th>
                <th scope="col">Fecha</th>
                <th scope="col">Motivo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each transacciones}}
            <tr>
                <td>{{this.id_transaccion}}</td>
                <td>{{this.tipo_transaccion}}</td>
                <td>{{this.nombre}}</td>
                <td>{{this.cantidad}}</td>
                <td>{{this.nombre_usuario}}</td>
                <td>{{this.fecha}}</td>
                <td>{{this.motivo}}</td>
                <td>
                    <a href="/transaccion/ver/{{this.id_transaccion}}" class="btn btn-sm btn-info">
                        Ver Detalle
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <div class="alert alert-warning text-center">
        No hay transacciones registradas en este momento.
    </div>
    {{/if}}
</div>

{{else ifCond user.Id_Rol '==' 2}}
<div class="container my-4">
    <h2 class="text-center mb-4">Mis Transacciones</h2>
    {{#if transacciones.length}}
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Tipo</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Fecha</th>
                <th>Motivo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each transacciones}}
            <tr>
                <td>{{this.id_transaccion}}</td>
                <td>{{this.tipo_transaccion}}</td>
                <td>{{this.nombre}}</td>
                <td>{{this.cantidad}}</td>
                <td>{{this.fecha}}</td>
                <td>{{this.motivo}}</td>
                <td>
                    <a href="/transaccion/ver/{{this.id_transaccion}}" class="btn btn-sm btn-info">
                        Ver Detalle
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <div class="alert alert-warning text-center">
        No hay transacciones registradas aún.
    </div>
    {{/if}}
</div>
{{/ifCond}}
